*{
    margin: 0;
    padding: 0;
}


body{
    width: 97vw;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.main_container{
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: 5px 5px 5px;
}